header {
  height: 100px;
  background-color: hotpink;
}

.asideLeft {
  float: left;
  width: 200px;
  height: 600px;
  background-color: palegreen;
}

.threeEight {
  width: 380px;
  background-color: blue;
  height: 200px;
  float: left;
}

.quad {
  width: 190px;
  height: 250px;
  background-color: red;
  float: left;
}

footer {
  width: 760px;
  height: 150px;
  background-color: purple;
  float: left;
}