header {
  height: 100px;
  background-color: hotpink;
}

.asideLeft {
  width: 200px;
  height: 600px;
  background-color: palegreen;
}

.contOne {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.contOne div {
  align-self: auto;
}

.contTwo {
  display: flex;
  flex-direction: row;
  
}

.ultraCont {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  flex-direction: wrap;
}

.threeEight {
  width: 380px;
  background-color: blue;
  height: 200px;
}

.quad {
  width: 190px;
  height: 250px;
  background-color: red;
}

footer {
  width: 760px;
  height: 150px;
  background-color: purple;
}