header {
  height: 100px;
  background-color: hotpink;
  position: relative;

}

.asideLeft {
  width: 200px;
  height: 600px;
  background-color: palegreen;
  position: relative;

}

.contOne {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.contOne div {
  align-self: auto;
}

.contTwo {
  display: flex;
  flex-direction: row;
  
}

.ultraCont {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  flex-direction: wrap;
}

.threeEight {
  width: 380px;
  height: 200px;
  float: left;
  position: relative;
}

.quad {
  width: 190px;
  height: 250px;
  float: left;
  position: relative;

}

#footer {
  width: 760px;
  height: 150px;
  float: left;
  position: relative;
  background-color: aqua;
}

p {
  margin: 0;
  position: absolute;               
  top: 50%;                         
  transform: translate(0, -50%);
  margin-left: 50%; 
  margin-right: 50%;
  background-color: purple;
}